// break-point
$phone-big-break-point: 480px;
$tablet-small-break-point: 768px;
$tablet-big-break-point: 960px;
$desktop-small-break-point: 1200px;
$desktop-big-break-point: 1440px;

// fonts
$main-font: Acrom, Arial, sans-serif;
$bottomfooter-font: Gilroy, Arial, sans-serif;
$second-font: Futura, Arial, sans-serif;

// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// font-size
$title-middle-font-size: 32px;
$title-font-size: 24px;
$main-font-size: 11px;

// color
$dark-color: #000000;
$light-color: #ffffff;
$text-color: #2c2d2e;
$mark-warm-color: #ff6b08;
$mark-cold-color: #16ebfe;
$light-bgr: #d1d5e2;


