.slider {
  &-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-image {
    height: 100%;
  }
  &__container {
    overflow: hidden;
  }
}  
.container-left {
  width: 20%;
  height: 40%;
  &::before {
    width: 200px;
    height: 60px;
    display: block;
    content: "Lorem ipsum dolor sit.";
  }
}
.container-right {
  width: 35%;
  height: 90%;
  &::before {
    width: 300px;
    height: 40px;
    display: block;
    content: "Lorem ipsum";
    transform: rotateZ(90 deg);
  }
}